.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 105px;
}

.container {
  flex: 1;
  max-width: 720px;
  padding: 0 10px;

  img {
    cursor: pointer;
  }
}
